$toledo: #40242F;
$laPalmaDark: #3C9825;
$laPalmaLight: #479D2A;
$appleDark: #5AA739;
$appleLight: #6EB24D;

$bodyBgColor: $toledo;
$daysBgColor: $laPalmaDark;
$hoursBgColor: $laPalmaLight;
$minutesBgColor: $appleDark;
$secondsBgColor: $appleLight;
$socialsBgColor: $laPalmaDark;

// fonts

